@{
    ViewBag.Title = "Index";
}

<div data-role="header">
    <h1>汽車情報</h1>
</div>

<div role="main" class="ui-content">
    <div id="carlogo">
        <img src="~/Assets/Images/cars/ferrari.png" />
    </div>

    <ul data-role="listview" data-inset="true">
        <li><a href="~/Automobile/List">汽車款式</a></li>
        <li><a href="~/Automobile/Repair">維修保養</a></li>
        <li><a href="~/Home/Contact">連絡客服</a></li>
        <li><a href="~/Home/About">關於我們</a></li>
    </ul>
</div>


@section topCSS{
<style>
    img {
        max-width: 100%;
        height: auto;
    }

    div#carlogo {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
}