
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

這是管理後台，需經驗證授權才能存取<br>
User  Name: @User.Identity.Name <br>
Is Authentication : @User.Identity.IsAuthenticated <br>
Authentication Type : @User.Identity.AuthenticationType <br>

<br />
@Html.ActionLink("登出" , "SignOut", "Account" , null , new { @class="btn btn-danger"})