@model List<Location>
@{
    ViewBag.Title = "LineTempData";

    
    List<Location> Locations = Model; //把ChartsController裡的List<Location>傳過去

    //C#物件傳給taipei
    var taipei = Locations[0];
    var taichung = Locations[1];
    var kaohsiung = Locations[2];



    //在Razor 用Json.Encode()將C#變數轉換成JSON
    var jsonMonths = Json.Encode(ViewBag.MonthsLabel);
    var jsonLocation = Json.Encode(Model);

   
}

<div class="container">
    <div class="jumbotron alert-success">
        <h2>以Line Chart折線圖繪製月均溫趨勢變化</h2>
    </div>
    <canvas id="lineChart"></canvas>
</div>

@section endJS{

    <script>
        /*C#不能直接傳遞物件或陣列列給JavaScript，因為二者是由不同Runtime執行環境管理，所以要將C#物件或陣列
          編碼成JSON⽂文字格式，傳給JavaScript，JavaScript收到純文字後，再解碼，還原成對等的JavaScript
          物件或陣列。*/

        var jsLocation = @Html.Raw(jsonLocation); //轉成javascript物件，不然javascript讀不懂Json檔裡的雙引號
        var ctx = document.getElementById("lineChart");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
               labels: @Html.Raw(jsonMonths), //用Html.Raw()方法顯示原始的JSON資料
                datasets: [{
                    label:"@taipei.City", //小老鼠符號+變數表示C#物件
                    data: jsLocation[0].Temperature, //指定地區月均溫資料
                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,165,0)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,255,0)',
                    pointRadius: 5,
                    pointHoverRadius: 10
                },

                    {
                    label: jsLocation[1].City, //存取JavaScript陣列中物件屬性
                    data:jsLocation[1].Temperature,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,255,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'rgb(0,0,0)',
                    pointRadius: 5,
                    pointHoverRadius: 10
                    },

                    {
                    label: jsLocation[2]["City"],
                    data:jsLocation[2]["Temperature"],
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(153,50,204)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 5,
                    pointHoverRadius: 10
                    }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 26,
                    text: '1981-2010年氣溫月平均值'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                scales: {   //縱軸顯示月份，橫軸顯示溫度
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '月份',
                            fontSize: 20
                        },
                        ticks: {
                            fontSize: 15
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '溫度(攝氏)',
                            fontSize : 20
                        },
                        ticks: {
                            fontSize: 15
                        }
                    }]
                },
                animation: {
                    duration : 3000
                }
            }
        });
    </script>
}
